# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Build artifacts - uploaded to GitHub releases instead.
./main.js
./manifest.json
./styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json

# environment
.env

# Exclude macOS Finder (System Explorer) View States
.DS_Store
